<%- include('../partials/header') %>
<div class="dashboard-container flex-row">
  <div>
    <% if (user) { %>
      <%- include('../partials/navbar') %>
    <% } %>
  </div>
  <!--calendar view might keep getting rendered?-->
  <%- include('../partials/calendar') %>

  <div class="task-day-view flex-col">
    <% if (date) { %>
      <div class="flex-col">
        <h3><%= date.date.toLocaleDateString() %></h3>
        <h5>Top 3:</h5>
        <h2>Events</h2>
        <% events.forEach(event => { %>
          <h4><%= event.name %></h4>
        <% }) %>
        
        <a class="add-button" href="/event/date/<%=date._id%>">View details</a>
      </div>
    <% } else { %>
      <h3><%= datePicked %></h3>
      <div class="flex-col">
        <h4>Add Event</h4>
        <a class="add-button" href="/dashboard/new?date=<%=datePicked%>">+</a>
      </div>
    <% } %>
  </div>

</div>