<%- include('../partials/header') %>
<div class="dashboard-container flex-row">
  <div>
    <% if (user) { %>
      <%- include('../partials/navbar') %>
    <% } %>
  </div>

  <div class="flex-col main-day-view">
    <!--top bar-->
    <div class="date-div">
      <h1><%= date %></h1>
    </div>

      <div class="flex-col day-priority-view">
        <h3></h3>
        <div class="flex-row">
          <!--for each top 3-->
          <% topThree.forEach(priority => { %>
          <div class="priority-view">
            <div class="flex-col priority-background">
              <h3><%= priority.name %></h3>
              <p><%= priority.description %></p>
              <% if (priority.time) { %>
                <h4>Time</h4>
                <h5><%= priority.time %></h5>
              <% } %>
              <div class="flex-row">
                <a href="">View</a>
                <a href="">Edit</a>
              </div>
            </div>
            <!--add task later-->
            <!-- <div class="flex-col">
              <h5></h5>
              <h2></h2>
              <div class="flex-row"></div>
            </div> -->
          </div>
          <% }) %>
        </div>
      </div>
  
      <div class="flex-col day-special-view">
        <h1 class="title">Special</h1>
        <div class="grid-3col">
          <div class="flex-col special-view">
            <h3>Special Event here</h3>
            <a href="">View more</a>
          </div>
        </div>
      </div>

      <div class="flex-row day-add-b`tns">
        <div class="button flex-col">
          <h4>Add Event</h4>
          <a class="add-btn add-event-btn" href="">+</a>
        </div>
        <div class="button flex-col">
          <h4>Add Tag</h4>
          <a class="add-btn add-tag-btn" href="">+</a>
        </div>
      </div>
  
  
      <div class="flex-col day-events-view">
        <h1 class="title">Event List (VIEW)</h1>
        <div class="flex-col">
          <div class="grid-2col events-list-header">
            <h3>Time</h3>
            <h3>Event</h3>
          </div>
          <% events.forEach(event => { %>
            <div class="grid-2col day-events-view-list">
              <div class="flex-col event-view event-time">
                <% if (event.time) { %>
                  <div>
                    <h3><%= event.time %></h3>
                  </div>
                <% } else { %>
                  <div>
                    <h3>-</h3>
                  </div>
                  
                <% } %>
              </div>
              <div class="flex-col event-view">
                <h4><%= event.name %></h4>
                <p><%= event.description %></p>
                <div class="flex-row">
                  <a href="">View More</a>
                  <a href="">Edit</a>
                </div>              
              </div>
            </div> 
            <% }) %> 
        </div>
      </div>


  </div>
  <!--end of main day view-->
  

</div>
<%- include('../partials/footer')  %>