<%- include('../partials/header') %>
<div class="flex-row">
  <%- include('../partials/navbar') %>
  <div class="flex-col view-event-container setting-item-box">
    <div class="flex-row">
      <% if (event.priority === "HIGH") { %>
        <h2 style="background-color: rgb(210, 42, 42)"><%= event.priority %></h2>
      <% } else if (event.priority === "MEDIUM") { %>
        <h2 style="background-color: rgb(242, 147, 46)"><%= event.priority %></h2>
      <% } else { %>
        <h2 style="background-color: rgb(242, 229, 46); color: black"><%= event.priority %></h2>
      <% } %> 
    </div>
    <h1><%= event.name %></h1>
    <p class="description"><%= event.description%></p>
    <h5><%= event.date.toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"}) %></h5>
    <h5 style="color: rgb(190, 12, 12)"><%= getTime(event.time) %></h5>

  </div>
</div>
<%- include('../partials/footer') %>