<%- include('../partials/header') %>
<div class="dashboard-container flex-row">
    <% if (user) { %>
      <%- include('../partials/navbar') %>
    <% } %>
    <div class="new-event-form-wrap form-wrap">
      <!--create POST request to create event data-->
      <form
      action="/day/<%=dateId%>/event?_method=DELETE&eventId=<%=eventId%>"
      method="POST"
      class="delete-form"
      >
      <button class="delete-btn" type="submit">Delete</button>
      </form>
      <form class="flex-col original-form" action="/day/<%=dateId%>/event" method="POST">
        <div class="form-header new-event-header flex-col">
          <h5>edit</h5>
          <h1><%= title %></h1>
        </div>
        <%- include('../partials/eventForm')  %>
        <div class="flex-row">
          <a class="cancel-btn" href="/day/<%=dateId%>">Cancel Edit</a>
          <input type="submit" value="Edit Event">
        </div>
      </form>

    </div>
</div>

<%- include('../partials/footer') %>