<%- include('../partials/header') %>
<div class="dashboard-container flex-row">
    <% if (user) { %>
      <%- include('../partials/navbar') %>
    <% } %>
    <div>
      <!--create POST request to create event data-->
      <h1><%= title %></h1>
      <form class="flex-col" action="/day/<%=dateId%>/event" method="POST">
        <%- include('../partials/eventForm')  %>
        <input type="submit" value="Edit Event">
      </form>
    </div>
</div>

<%- include('../partials/footer') %>